.container{
    margin: 100px;
}
.img-1{
    display: inline-block;
    width: 300px;
    margin-left: 20px;
}
.img-2{
    display: inline-block;
    width: 300px;
    margin-left: 10px;
}
.img-3{
    display: inline-block;
    width: 300px;
    margin-left: 10px;
}
.img-4{
    display: inline-block;
    width: 300px;
    margin-left: 10px;
}
img{
    width: 100%;
}
h2,h4,h5{
    text-align: center;
}
.chefimg{
    width: 800px;
    margin: auto;
}
.chefdetails{
    border-bottom: 1px solid grey;
    p{
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
}
}
.page-down1{
    width: 400px;
    /* display: inline-block; */
    margin-left: 100px;
    padding-right: 0px;
    /* p{
        text-align: center;
    } */
}
.page-down2{
    /* display: inline-block; */
    width: 300px;
    margin-left: 20px;
    /* p{
        text-align: center;
    } */
}
.page-down3{
    /* display: inline-block; */
    width: 400px;
    margin-left: 20px;
    p{
        text-align: center;
    }
}
.bg{
    height: 50px;
    width: 50px;
}
.footer{
    display: flex;
    padding: 0px 80px;
}
.blog-img1{
    display: flex;
    margin-left: 50px;
    gap: 10px;
    border-bottom: 1px solid grey;
}
.blog-img2{
    display: flex;
    margin-left: 50px;
    gap: 10px;
    padding-top: 10px;
}
.img-side-txt{
    line-height: 0.3;
    align-items: center;
}
.span-tag{
    margin-left: 50px;
    margin-top: 10px;
}
.tag{
    display: inline-block;
    padding: 0px 5px;
    margin: 3px;
    border: 1px solid grey;
    background-color: grey;
    color: white;
    font-size: small;
}
.tag.color{
    background-color: black;
    padding: 5px;
}
